In [8]:
#pd.options.display.max_colwidth = -1
pd.options.display.max_columns = None

In [2]:
%load_ext memory_profiler
from __future__ import unicode_literals
import pandas as pd

In [4]:
df0 = pd.read_csv('ItemInfo_train_mapped.csv', nrows=40)

In [5]:
df = pd.read_csv('intersectingBOW.csv',encoding='utf-8', nrows=40)

In [20]:
mf = pd.merge(df0,df, on=['itemID', 'itemID_2'], how='left')

In [21]:
mf.head()

,itemID,categoryID_x,title_x,description_x,images_array_x,attrsJSON_x,price_x,locationID_x,metroID_x,lat_x,lon_x,itemID_2,isDuplicate,generationMethod,categoryID_y,title_y,description_y,images_array_y,attrsJSON_y,price_y,locationID_y,metroID_y,lat_y,lon_y,parentCategoryID_x,parentCategoryID_y,regionID_x,regionID_y,lendiff_imagearray,priceDifference,latlonDifference,description_x_clean,description_y_clean,intersect_BOW,sym_diff_BOW
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,4112648,1,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1227519, 1374615, 7072137, 8671835","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,1,1,648070,648070,1.0,0.0,0.000000,"[продам, камаз, 6520, 20, тонн]","[продам, камаз, 6520, 20, тонн]","[6520, камаз, продам, тонн, 20]",[]
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548,1991275,1,1,14,Yamaha R6,Весь в тюнинге. Возможен торг,"11068709, 13325040, 13783238, 206652, 9458537","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",330000.0,639040,NaN,55.678037,37.256548,1,1,637680,637680,1.0,30000.0,0.000000,[тюнинге],"[тюнинге, возможен, торг]",[тюнинге],"[возможен, торг]"
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,1223296,0,1,84,iPhone 3gs 32gb,"В отличном состоянии, в комплекте зарядник и к...",5709245,"{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,6,6,640310,640310,1.0,0.0,0.000000,"[телефон, хорошем, состоянии, трещин, сколов, ...","[отличном, состоянии, комплекте, зарядник, каб...","[состоянии, комплекте, кабель]","[работает, держит, лежит, зарядник, родное, ин..."
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,55.777170,37.586194,1058851,1,1,84,Смартфон Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",7900519,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,56.135459,47.235484,6,6,662000,662000,NaN,0.0,601.490989,"[отличный, подарок, новый, китайской, apple, н...","[отличный, подарок, новый, китайской, apple, н...","[245ггц, икпорт, мгц, использование, аккумулят...",[]
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,NaN,55.777170,37.586194,2161930,1,1,39,Ботинки для лыж,"Ботинки 34 размер, в хорошем состоянии","10053682, 986143","{""Вид товара"":""Зимние виды спорта""}",600.0,624360,NaN,55.777170,37.586194,7,7,624300,624300,0.0,100.0,0.000000,"[лыжные, ботинки, хорошем, состоянии, 34, размер]","[ботинки, 34, размер, хорошем, состоянии]","[ботинки, состоянии, размер, хорошем, 34]",[лыжные]

In [10]:
df1 = pd.read_csv('clustering_pairs.csv', encoding='utf-8')

In [11]:
df1.rename(columns={'itemID_1':'itemID'}, inplace=True)

In [16]:
df1.drop('generationMethod', axis=1, inplace=True)

In [17]:
df1.head()

   itemID  itemID_2  clusters
0       1   4112648         0
1       3   1991275         0
2       4   1223296         0
3       7   1058851         0
4       8   2161930         0

In [22]:
mf1 = pd.merge(mf,df1, on=['itemID', 'itemID_2'], how='left')

In [24]:
mf1.head()

,itemID,categoryID_x,title_x,description_x,images_array_x,attrsJSON_x,price_x,locationID_x,metroID_x,lat_x,lon_x,itemID_2,isDuplicate,generationMethod,categoryID_y,title_y,description_y,images_array_y,attrsJSON_y,price_y,locationID_y,metroID_y,lat_y,lon_y,parentCategoryID_x,parentCategoryID_y,regionID_x,regionID_y,lendiff_imagearray,priceDifference,latlonDifference,description_x_clean,description_y_clean,intersect_BOW,sym_diff_BOW,clusters
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,4112648,1,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1227519, 1374615, 7072137, 8671835","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,1,1,648070,648070,1.0,0.0,0.000000,"[продам, камаз, 6520, 20, тонн]","[продам, камаз, 6520, 20, тонн]","[6520, камаз, продам, тонн, 20]",[],0
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548,1991275,1,1,14,Yamaha R6,Весь в тюнинге. Возможен торг,"11068709, 13325040, 13783238, 206652, 9458537","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",330000.0,639040,NaN,55.678037,37.256548,1,1,637680,637680,1.0,30000.0,0.000000,[тюнинге],"[тюнинге, возможен, торг]",[тюнинге],"[возможен, торг]",0
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,1223296,0,1,84,iPhone 3gs 32gb,"В отличном состоянии, в комплекте зарядник и к...",5709245,"{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,6,6,640310,640310,1.0,0.0,0.000000,"[телефон, хорошем, состоянии, трещин, сколов, ...","[отличном, состоянии, комплекте, зарядник, каб...","[состоянии, комплекте, кабель]","[работает, держит, лежит, зарядник, родное, ин...",0
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,55.777170,37.586194,1058851,1,1,84,Смартфон Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",7900519,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,56.135459,47.235484,6,6,662000,662000,NaN,0.0,601.490989,"[отличный, подарок, новый, китайской, apple, н...","[отличный, подарок, новый, китайской, apple, н...","[245ггц, икпорт, мгц, использование, аккумулят...",[],0
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,NaN,55.777170,37.586194,2161930,1,1,39,Ботинки для лыж,"Ботинки 34 размер, в хорошем состоянии","10053682, 986143","{""Вид товара"":""Зимние виды спорта""}",600.0,624360,NaN,55.777170,37.586194,7,7,624300,624300,0.0,100.0,0.000000,"[лыжные, ботинки, хорошем, состоянии, 34, размер]","[ботинки, 34, размер, хорошем, состоянии]","[ботинки, состоянии, размер, хорошем, 34]",[лыжные],0

In [26]:
df2 = pd.read_csv('reverse_geo.csv')
df2.drop(['itemID', 'itemID_2'], axis=1, inplace=True)
df2.head()

,City_x,Neighborhood_x,State_x,Street_x,geocodeQuality_x,postalCode_x,lat_x,lon_x
0,Blagoveshchensk,NaN,Amur Oblast,Заводская улица,STREET,675001,50.283325,127.539103
1,Krasnogorsk,NaN,Moscow Oblast,Ильинский тупик,STREET,143405,55.807334,37.316771
2,Ivanovo,NaN,Ivanovo Oblast,14-й проезд,STREET,153000,56.985412,41.032114
3,Vladikavkaz,NaN,North Ossetia–Alania,83 Dovatora Avenue,POINT,362000,43.040044,44.643961
4,Schokino,NaN,Tula Oblast,14 улица Победы,POINT,301218,54.009067,37.519449

In [27]:
mf2 = pd.merge(mf1,df2,on=['lat_x','lon_x'], how='left')

In [28]:
mf2.head()

,itemID,categoryID_x,title_x,description_x,images_array_x,attrsJSON_x,price_x,locationID_x,metroID_x,lat_x,lon_x,itemID_2,isDuplicate,generationMethod,categoryID_y,title_y,description_y,images_array_y,attrsJSON_y,price_y,locationID_y,metroID_y,lat_y,lon_y,parentCategoryID_x,parentCategoryID_y,regionID_x,regionID_y,lendiff_imagearray,priceDifference,latlonDifference,description_x_clean,description_y_clean,intersect_BOW,sym_diff_BOW,clusters,City_x,Neighborhood_x,State_x,Street_x,geocodeQuality_x,postalCode_x
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,4112648,1,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1227519, 1374615, 7072137, 8671835","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,30.815924,1,1,648070,648070,1.0,0.0,0.000000,"[продам, камаз, 6520, 20, тонн]","[продам, камаз, 6520, 20, тонн]","[6520, камаз, продам, тонн, 20]",[],0,NaN,NaN,Northwestern Federal District,NaN,STATE,NaN
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,37.256548,1991275,1,1,14,Yamaha R6,Весь в тюнинге. Возможен торг,"11068709, 13325040, 13783238, 206652, 9458537","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",330000.0,639040,NaN,55.678037,37.256548,1,1,637680,637680,1.0,30000.0,0.000000,[тюнинге],"[тюнинге, возможен, торг]",[тюнинге],"[возможен, торг]",0,Odintsovo,NaN,Moscow Oblast,Marshala Jhukova Street,STREET,143000
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,1223296,0,1,84,iPhone 3gs 32gb,"В отличном состоянии, в комплекте зарядник и к...",5709245,"{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,43.460458,6,6,640310,640310,1.0,0.0,0.000000,"[телефон, хорошем, состоянии, трещин, сколов, ...","[отличном, состоянии, комплекте, зарядник, каб...","[состоянии, комплекте, кабель]","[работает, держит, лежит, зарядник, родное, ин...",0,Dzerzhinsk,NaN,Nizhny Novgorod Oblast,1 улица Кирова,POINT,606024
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,55.777170,37.586194,1058851,1,1,84,Смартфон Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",7900519,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,56.135459,47.235484,6,6,662000,662000,NaN,0.0,601.490989,"[отличный, подарок, новый, китайской, apple, н...","[отличный, подарок, новый, китайской, apple, н...","[245ггц, икпорт, мгц, использование, аккумулят...",[],0,Tverskoy District,NaN,Moscow,3 Лесная улица,POINT,125047
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,NaN,55.777170,37.586194,2161930,1,1,39,Ботинки для лыж,"Ботинки 34 размер, в хорошем состоянии","10053682, 986143","{""Вид товара"":""Зимние виды спорта""}",600.0,624360,NaN,55.777170,37.586194,7,7,624300,624300,0.0,100.0,0.000000,"[лыжные, ботинки, хорошем, состоянии, 34, размер]","[ботинки, 34, размер, хорошем, состоянии]","[ботинки, состоянии, размер, хорошем, 34]",[лыжные],0,Tverskoy District,NaN,Moscow,3 Лесная улица,POINT,125047

In [9]:
lst = [df0,df,df1]

In [10]:
result = reduce(lambda left, right: pd.merge(left,right, on=['itemID', 'itemID_2'], how='left')
      , lst)

In [11]:
df4 = pd.read_csv('description_similarity.csv', encoding='utf-8')

In [59]:
len(df4)

2991396

In [12]:
df8 = pd.concat([result,df4],axis=1)

In [15]:
df9 = pd.merge(df8, df2, on='itemID', how='left')

In [16]:
df9.head()

,itemID,categoryID_x,title_x,description_x,images_array_x,attrsJSON_x,price_x,locationID_x,metroID_x,lat_x,...,generationMethod_y,clusters,desc_sim,City_x,Neighborhood_x,State_x,Street_x,geocodeQuality_x,itemID_2_y,postalCode_x
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,NaN,64.686946,...,1,0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,NaN,55.678037,...,1,0,0.698324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,NaN,56.239398,...,1,0,0.902371,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",NaN,"{""Вид телефона"":""Другие марки""}",13500.0,662210,NaN,55.777170,...,1,0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,NaN,55.777170,...,1,0,0.983680,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = pd.read_csv('description_similarity.csv')
df.head()

   desc_sim
0  1.000000
1  0.698324
2  0.902371
3  1.000000
4  0.983680

In [67]:
item_info = pd.read_csv('ItemInfo_train_mapped.csv', encoding='utf-8', usecols =['itemID','itemID_2','lat_x', 'lon_x'])

In [69]:
item_info.head()

   itemID      lat_x      lon_x  itemID_2
0       1  64.686946  30.815924   4112648
1       3  55.678037  37.256548   1991275
2       4  56.239398  43.460458   1223296
3       7  55.777170  37.586194   1058851
4       8  55.777170  37.586194   2161930

In [37]:
len(item_info)

3344613

In [58]:
item_info2 = item_info.loc[3000000:,:]

In [84]:
it = item_info.sort_values('itemID').drop_duplicates(subset=['lat_x', 'lon_x'], keep='last').reset_index()
it.count()

index       38931
itemID      38931
lat_x       38931
lon_x       38931
itemID_2    38931
dtype: int64

itemID      1.450000e+02
lat_x       5.181848e+01
lon_x       1.076300e+02
itemID_2    3.605985e+06
Name: 383, dtype: float64

In [85]:
unique_ll2 = it.loc[552:14448,:]

In [7]:
item_pairs.rename(columns={'itemID_1':'itemID'}, inplace=True)

In [8]:
df = pd.merge(item_info, item_pairs, on='itemID')

In [10]:
item_info.rename(columns={'itemID':'itemID_2'}, inplace=True)

In [12]:
df = pd.merge(df, item_info, on='itemID_2')

In [13]:
df.head()

,itemID,description_x,itemID_2,description_y
0,1,Продам Камаз 6520 20 тонн,4112648,Продам Камаз 6520 20 тонн
1,3,Весь в тюнинге.,1991275,Весь в тюнинге. Возможен торг
2,4,"Телефон в хорошем состоянии, трещин и сколов н...",1223296,"В отличном состоянии, в комплекте зарядник и к..."
3,7,"Отличный подарок на новый год от ""китайской ap...",1058851,"Отличный подарок на новый год от ""китайской ap..."
4,8,"Лыжные ботинки в хорошем состоянии, 34 размер",2161930,"Ботинки 34 размер, в хорошем состоянии"

In [22]:
len(df)

2991396

In [16]:
model_word = models.word2vec.Word2Vec.load('description_2vec.model')

In [21]:
#df.to_csv('ItemInfo_train4.csv',encoding='utf-8',index=False)